.cf {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

$color__primary--lighter: #55a1ff;
$color__primary--light: #2586ff;
$color__primary: #006aee;
$color__primary--dark: #0f5ab7;

$color__secondary: #ff6600;

$color__shade--faded: #f5f5f5;
$color__shade--border: #e0e0e0;
$color__shade--lighter: #aaaaaa;
$color__shade--light: #666666;
$color__shade: #444444;
$color__shade--dark: #303030;
$color__shade--darker: #202020;

$sans-serif-stack: Helvetica, Arial, sans-serif;
$serif-stack: Georgia, serif;

/* -- Global
-------------------------------------------------- */
html, body {
	font-size: 15px;
}
body {

}
h1 {
	font-size: 2rem;
}